
<div class="divSelect">
  <select-list (idBreedOut)="receiveId($event)" class="select"></select-list>

  <button class="btn btn-warning" (click)="cleanSelect()" [disabled]="!validateBreedCarrusel">Limpiar seleccion</button>
</div>

<div class="divInfo" *ngIf="validateBreedCarrusel">
  <div class="divInfoBreed">
    <label class="lbInfo"> Nombre: {{ breedCarrusel.name }} - </label>
    <label class="lbInfo"> Temperamento: {{ breedCarrusel.temperament }} - </label>
    <label class="lbInfo"> Origenes: {{ breedCarrusel.origin }} </label>
  </div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div *ngFor="let picture of pictures; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
        <img [src]="picture.url" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"> Anterior </span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"> Siguiente </span>
    </button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id </th>
      <th scope="col"> Nombre </th>
      <th scope="col"> Temperamento </th>
      <th scope="col"> Origenes </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let breed of breedsMain; let index">
      <th>{{ breed.id }}</th>
      <td>{{ breed.name }}</td>
      <td>{{ breed.temperament }}</td>
      <td>{{ breed.origin }}</td>
    </tr>
  </tbody>
</table>

